@font-face {
font-family: "CustomFont";
src: url("amazonemberdisplay_md-webfont.woff") format("woff");
}


.hello {
  
  margin-top:20%;
  


}

.hello2 {
  color: #ec7211;
}

.hello3 {
  
  color: #FFFFFF;

}

.background {
 background-color: #414750;
 font-size: 30px;
   font-family: 'CustomFont';
 text-align: center;
 font-weight: bolder;
 
}
