@font-face {
font-family: "CustomFont";
src: url("amazonemberdisplay_md-webfont.woff") format("woff");
}


.hello {
  color: #ec7211;
  


}

.background {
 background-color: #414750;
 font-size: 30px;
   font-family: 'CustomFont';
 text-align: center;
 font-weight: bolder;
 
}
